@media screen and (max-width:992px) {
    nav .menu-content :not(.font-icon) {
        display: none;
    }
    .font-icon-container {
        padding: 0 50px 0 0;
    }
    #navbar:focus-within .button {
        left: -320px;
    }
    /* ------------------header------------------- */
    .main-header .header--img {
        height: 450px;
    }
    .main-header .header--img::before {
        top: -140px;
    }
    .main-header .header--text h1 {
        font-size: 60px;
    }
    /* ------------------main content------------------ */
    .main-content {
        height: 2900px;
        grid-template: repeat(4, 700px)/repeat(2, 1fr);
        /* gap: 30px; */
    }
    .main-content .product3,
    .main-content .product5 {
        display: grid;
    }
    .main-content>div {
        grid-column: auto/span 1;
        height: 700px;
    }
    .main-content>:nth-child(1) {
        grid-column: 1/span 2;
        grid-row: 1;
    }
    .main-content>:nth-child(2) {
        grid-column: 1/span 1;
        grid-row: 2;
    }
    .main-content>:nth-child(4) {
        grid-column: 1/span 1;
        grid-row: 4;
    }
    .main-content>:nth-child(6) {
        grid-column: 1/span 2;
        grid-row: 3;
        padding: 100px 0 0 0;
    }
    .main-content>:nth-child(1) figure,
    .main-content>:nth-child(6) figure {
        height: 700px;
    }
    .main-content>:nth-child(6) h2 {
        left: 3%;
        top: 140px;
    }
    .main-content>:nth-child(1) figure img {
        width: 55%;
        height: 350px;
        margin: 200px 0 0 -50px;
    }
    .main-content>:nth-child(6) figure img {
        width: 45%;
        height: 350px;
        margin: 230px 0 0 40px;
    }
    .main-content>:nth-child(1) figure figcaption,
    .main-content>:nth-child(6) figure figcaption {
        width: 40%;
    }
    .main-content>:nth-child(1) .link {
        margin-left: -30%;
    }
    .main-content>:nth-child(6) .link {
        margin: 200px 0 0 -35%;
    }
    .main-content .product {
        width: 100%;
        margin: 0 0 0 50px;
    }
}


/* **************************************************************************** */

@media screen and (max-width:768px) {
    /* ------------------ header--------------------- */
    .main-header .header--img {
        height: 350px;
    }
    .main-header .header--img::before {
        top: -180px;
    }
    .main-header .header--text {
        padding: 100px 0 0 0;
    }
    .main-header .header--text h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .main {
        width: 103%;
    }
    #navbar:focus-within .button {
        left: -340px;
    }
    /* ------------------- main content------------------- */
    .main-content {
        height: 2800px;
        /* gap: 35px; */
    }
    .main-content .product>figure img {
        height: 400px;
    }
    .main-content>:nth-child(1) figure img {
        width: 65%;
    }
    .main-content>:nth-child(6) {
        margin: -100px 0 0 0;
    }
    .main-content>:nth-child(6) figure img {
        width: 53%;
    }
    .main-content .product {
        margin: 0 0 0 35px;
    }
    .main-content .product4,
    .main-content .product5 {
        margin: -100px 0 0 20px;
    }
    /* ---------------------products------------------- */
    .products--details:nth-child(3) {
        display: none;
    }
    .products--details {
        grid-column: auto/span 3;
    }
    .products-container .products--details .img-container {
        height: 410px;
    }
    /* ----------------SUBSCRIBE---------------------- */
    .Newsletter {
        display: block;
        padding: 30px 0 0;
    }
    .Newsletter h2 {
        font: 30px 'Poppins';
        margin: 0 0 0 150px;
    }
    .Newsletter form {
        width: 450px;
        margin: auto;
    }
    /* --------- brand logo--------------------- */
    .logo-wrapper div:nth-child(3)~div {
        display: none;
    }
    .footer>:nth-child(2) h4 {
        display: none;
    }
}


/* **************************************************************************** */

@media screen and (max-width:576px) {
    nav .logo {
        flex: 0 1 10%;
        padding: 44px 10px 0;
    }
    nav .menu {
        flex: 0 1 90%;
    }
    .font-icon-container {
        padding: 0 50px 0 0;
    }
    /* ------------------ header--------------------- */
    .main-header .header--img {
        height: 250px;
    }
    .main-header .header--text h1 {
        font-size: 30px;
        text-align: center;
    }
    .main-header .header--text p {
        font-size: 16px;
        text-align: center;
    }
    .main {
        width: 103.5%;
    }
    /* ------------------- main content------------------- */
    .main-content {
        height: 2700px;
    }
    .main-content>:nth-child(1) h2 {
        left: 0;
        top: 40px;
        font-size: 25px;
    }
    .main-content>:nth-child(6) h2 {
        left: 5%;
        font-size: 25px;
    }
    .main-content>:nth-child(1) figure img {
        width: 100%;
        height: 300px;
        margin: 100px 0 0 0;
    }
    .main-content>:nth-child(6) {
        margin: -200px 0 0 0;
    }
    .main-content>:nth-child(6) figure img {
        width: 80%;
        height: 300px;
        margin: 200px 0 0 30px;
    }
    .main-content>:nth-child(1) figure figcaption,
    .main-content>:nth-child(6) figure figcaption {
        width: 100%;
        justify-content: center;
    }
    .main-content>:nth-child(1) .link {
        margin-left: -10%;
        height: 300px;
        width: 10px;
    }
    .main-content>:nth-child(6) .link {
        margin: 200px 0 0 -25%;
        width: 10px;
        height: 300px;
    }
    .main-content .product3,
    .main-content .product5 {
        display: none;
    }
    .main-content>:nth-child(2) {
        grid-column: 1/span 2;
        grid-row: 2;
    }
    .main-content>:nth-child(4) {
        grid-column: 1/span 2;
        grid-row: 4;
    }
    .main-content .product {
        margin: 0 0 0 35px;
        height: 400px;
    }
    .main-content .product figure img {
        width: 85vw;
        height: 550px;
    }
    .main-content .product figure .addcart {
        position: absolute;
        width: 85vw;
    }
    .main-content .product4 {
        margin: -100px 0 0 35px;
    }
    /* ---------------------products------------------- */
    .products--details:nth-child(2) {
        display: none;
    }
    .products--details {
        grid-column: auto/span 6;
    }
    .products-container {
        height: 600px;
    }
    .products-container .products--details .img-container {
        height: 480px;
    }
    /* ----------------SUBSCRIBE---------------------- */
    .Newsletter {
        height: 280px;
    }
    .Newsletter h2 {
        font: 30px 'Poppins';
        margin: 0 0 0 35%;
    }
    .Newsletter form {
        display: block;
        width: 85%;
        margin: auto;
    }
    .Newsletter form input {
        width: 100%;
        height: 60px;
    }
    .Newsletter form button {
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }
    /* --------- brand logo--------------------- */
    .logo-wrapper div:nth-child(2)~div {
        display: none;
    }
    /* --------------------footer--------------------- */
    .footer {
        flex-flow: column-reverse;
        justify-content: space-evenly;
    }
}