@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #eabdffe1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: white;
    border-radius: 5px ;
    box-shadow: 0 2px 15px rgb(0, 0, 0,.3);
    width: 400px;
}


h2{
    text-align: center;
    margin: 0 0 35px;
}
.form{
    padding: 30px 40px;

}
.form-control{
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    display: grid;
}
.form-control label{
    color: #777;
    display: block;
    position: relative;
    top: 23px;
    order: -1;
}

.form-control input{
    border: 0;
    border-bottom: 1px solid #bbbbbb;
    display: block;
    width: 100%;
    padding: 5px;
    outline: 0;
    font-size: 16px;
    
}
.form-control input:focus{
    border-bottom: 1.5px solid #222;
}

.form-control input:focus ~ label{
    animation: move .2s ease-out forwards;
}

@keyframes move {
  from{
    top: 23px;
  }
  to{
      top: -9px;
      font-size: 14px;
  }
}


.form-control.success input{
    border-bottom-color: #2ecc71;
}
.form-control.error input{
    border-bottom-color: #e74c3c;
}
.form-control small{
    color: #e74c3c  ;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form button{
    cursor: pointer;
    background-color:#3498db ;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin: 20px 0 0 0;
    width: 100%;
    outline: none;
    box-shadow: 0;
}


@media screen and (max-width:576px){
    .container{
        width: 350px;
    }
}